amqp==5.3.1
asgiref==3.8.1
async-timeout==5.0.1
attrs==25.3.0
autobahn==24.4.2
automat==25.4.16
billiard==4.2.1
celery==5.5.2
certifi==2025.4.26
cffi==1.17.1
channels==4.2.2
channels-redis==4.2.1
charset-normalizer==3.4.2
click==8.2.1
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
constantly==23.10.4
cron-descriptor==1.4.5
cryptography==45.0.2
daphne==4.2.0
django==5.2.1
django-celery-beat==2.8.1
django-environ==0.12.0
django-timezone-field==7.1
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
kombu==5.5.3
msgpack==1.1.0
prompt-toolkit==3.0.51
psycopg==3.2.9
psycopg2==2.9.10
psycopg2-binary==2.9.10
pyasn1==0.6.1
pyasn1-modules==0.4.2
pycparser==2.22
pyopenssl==25.1.0
python-crontab==3.2.0
python-dateutil==2.9.0.post0
redis==6.1.0
requests==2.32.3
service-identity==24.2.0
setuptools==80.8.0
six==1.17.0
sqlparse==0.5.3
stripe==12.1.0
tomli==2.2.1
twisted==24.11.0
txaio==23.1.1
typing-extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
vine==5.1.0
wcwidth==0.2.13
whitenoise==6.9.0
zope-interface==7.2
